<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Resources Online</title>

<style>

.butt {
    border: 1px outset blue;
    background-color: yellow;
    text-align: center;
    height:110px;
    width:200px;
    font-weight: bold;
    cursor:pointer;
}

.butt:hover {
    background-color: green;
    color:black;
}
.caseInfo{
    border: 5px solid rgb(179, 194, 174);
    background-color: rgb(223, 241, 187);
    font-weight: bold;
    word-wrap: break-word;

}
.page{
    background-color: rgb(96, 228, 155);
}

</style>
</head>
<body>
    <div class="page">
        <div class="caseInfo">
            <h2>Covid Information of Rajasthan</h3>
            <p>Active cases: {{ data[1]}} </p><br>
            <p>Recovered: {{ data[2]}} </p><br>
            <p>Deaths: {{ data[3]}} </p><br>
            <p>Total Infected: {{ data[4]}} </p><br>
            <form action="{{ url_for('pageRedirect') }}" method="POST">
                <input class="butt" type="submit" name= "external" value="Twitter Leads"/>
                <input class="butt" type="submit" name= "external" value="Facebook Leads"/>
                <input class="butt" type="submit" name= "external" value="Cowin Portal"/>
            </form>
            
        </div>

    </div>
</div>
</body>
</html>